.dp-background {
  float: inherit;
}

.dp-picbox {
  margin: 20px;
  border: 5px;
  padding: 4px;
  background-color: blue;
  float: left;
  height: 200px;
}

.dp-picbox2 {
  margin: 12px;
  border: 2px;
  padding: 4px;
  background-color: blue;
  height: 300px;
}

.sidebar {
  width: 35%;
  float: right;
}
